*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #101318;
    color: white;
}

.card-body{
    color: black;
}

.card-text{
    text-align: center;
    font-size: 1.2rem;
}

nav{
    background-color: #101318 !important;
    color: white;
}

.navbar-toggler{
    margin-right: 80px;
}

.nav-link{
    color: white !important;
}

/* Movie Card */
.movie-item figure {
    background: #000;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.movie-item figure:hover img {
    opacity: 0.4;
    transition-duration: 300ms;
}

.movie-item figure .link-details {
    position: absolute;
    display: inline-block;
    opacity: 0;
    line-height: 1;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 50%;
    transition: 0.2s linear;
}

.movie-item figure .link-details i {
    padding-top: 6px;
    font-size: 22px;
    color: #333;
}

.movie-item figure .link-details:hover {
    background: #9d7eb0;
}

.movie-item figure .link-details:hover i {
    color: #fff;
}

.movie-item figure .link-details {
    top: calc(50% - 18px);
}

.movie-item figure:hover .link-details {
    opacity: 1;
    right: calc(50% - 20px);
}

/* Modal */
#movieModal, #aboutModal{
    color: #000;
}

.modal-lg {
    min-width: 80%;
}

#movieModal span{
    font-weight: bold;
}

.img-thumbnail{
    max-height: 70vh;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row{
    margin: 1rem;
}

/*GitHub Corner*/
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}